.cardTable {
  position: relative;
}

.card {
  --bs-card-height: 40vh !important;
}

.portfolio-projects {
  width: 80% !important;
  padding: 3vw;
}

.portfolio-project-card {
  padding-top: 2vh;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  cursor: pointer;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}
