.footer {
  background-color: gray;
  height: 15vh;
  margin-bottom: 0% !important;
  padding-left: 10vw;
  padding-right: 10vw;
}

.footer-copyright {
  color: white;
  padding-left: 4vw;
}

.span {
  text-align: left;
}

.vertical-center {
  min-height: 15vh;

  display: flex;
  align-items: center;
}

.footer-icons {
  padding-left: 5vw;
}

.footer-icons a {
  color: white;
}

.footer-icon {
  margin: 5px;
}

.linkedin {
  padding-left: 20px;
}

.github {
  padding-left: 10px;
}

@media (min-width: 650px) {
  .span {
    text-align: right;
  }

  .footer-copyright {
    padding-left: 10vw;
  }

  .footer-icons {
    padding-left: 10vw;
  }

  .footer-icon {
    margin: 10px;
  }

  .linkedin {
    padding-right: 10px;
  }

  .github {
    padding-left: 10px;
  }
}
