.showcase {
  background-color: rgba(250, 240, 227, 255);
  height: 120vh;
  position: relative;
  padding-top: 5vh;
}

.showcase img {
  margin-bottom: 10px;
}

.showcase_row {
  margin-top: 5vh !important;
  padding-top: 10vh !important;
  text-align: center;
  align-items: center;
}

.responsive-font {
  font-size: 40px;
}

.bold {
  font-weight: bold;
}

@media (min-width: 650px) {
  .showcase {
    height: 100vh;
  }

  .responsive-font {
    font-size: 60px;
  }
}
