@media (min-width: 650px) {
  .aboutMe {
    background-position: center center;
  }
}

.aboutMe {
  margin-top: 2vh;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.aboutMe-firstCol {
  height: 100vh;
  /* background-color: aqua; */
}

.aboutMe-title {
  margin-top: 8vh;
  margin-left: 5vw;
}

.aboutMe-title h1 {
  /* font-size: 5vw; */
  font-weight: bold;
}

.aboutMe-content {
  margin-top: 4vh;
  margin-left: 7vw;
}

.aboutMe-content-info {
  margin-top: 4vh;
}
