@media (min-width: 650px) {
  .aboutMe {
    background-position: center center;
  }
}

.aboutMe {
  margin-top: 2%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.aboutMe-firstCol {
  height: 100vh;
  margin-left: 5%;
  /* background-color: aqua; */
}

.aboutMe-title {
  margin-top: 10%;
  font-weight: bold;
}
